<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #6a6d70;"
>
  <a class="navbar-brand" href="/">Boka</a>

  <div>
    <ul class="navbar-nav">
      <li class="btn btn-outline-primary btn-sm" style="border: none;">
        <a class="nav-link" href="/add-book">Add a Book </a>
      </li>
    </ul>
  </div>
</nav>
