<%- include('./includes/head.ejs') %> <%- include('./includes/nav.ejs') %>

<p class="display-4 add-book-header">Add Book</p>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-sm-12 col-md-8 col-lg-4">
      <form action="/add-book" method="POST">
        <div class="form-group">
          <label for="bookTitle">Title</label>
          <input
            type="text"
            name="bookTitle"
            id="bookTitle"
            class="form-control"
          />

          <label for="bookAuthor" class="add-book-label">Author</label>
          <input
            type="text"
            name="bookAuthor"
            id="bookAuthor"
            class="form-control"
          />

          <button type="submit" class="btn btn-primary add-book-submit-btn">
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-2 col-lg-4"></div>
  </div>
</div>

<%- include('./includes/end.ejs') %>
